img#wpstats {
	display: none
}

a, a:hover, .link--light:hover, .text-link:hover, .wpgrade_popular_posts .article__category:hover,
	.meta-list a.btn:hover, .meta-list a.comments_add-comment:hover,
	.meta-list .form-submit a#comment-submit:hover, .form-submit .meta-list a#comment-submit:hover,
	.meta-list .widget_tag_cloud a:hover, .widget_tag_cloud .meta-list a:hover,
	.meta-list a.load-more__button:hover, .article__comments-number:hover,
	.author__social-link:hover, .article-archive .article__categories a:hover,
	.link--dark:hover, .nav--main a:hover, .comment__author-name a:hover,
	.author__title a:hover, .site-title--small a:hover, .site-header__menu a:hover,
	.widget a:hover, .article-archive--quote blockquote:before,
	.menu-item-has-children:hover>a, ol.breadcrumb a:hover, a:hover>.pixcode--icon,
	.tabs__nav a.current, .tabs__nav a:hover, .quote--single-featured:before,
	.price ins, .price>span, .shop-categories a.active {
	color: #0093bf;
}

.pagination .pagination-item--current span, .pagination li a:hover,
	.pagination li span:hover, .rsNavSelected, .progressbar__progress,
	.comments_add-comment:hover, .form-submit #comment-submit:hover,
	.widget_tag_cloud a:hover, .btn--primary, .comments_add-comment,
	.form-submit #comment-submit, a:hover>.pixcode--icon.circle, a:hover>.pixcode--icon.square,
	.btn--add-to-cart, .wpcf7-form-control.wpcf7-submit,
	.pagination--archive ol li a:hover, .btn:hover, .comments_add-comment:hover,
	.form-submit #comment-submit:hover, .widget_tag_cloud a:hover,
	.load-more__button:hover, #review-submit:hover, body.woocommerce div.woocommerce-message .button:hover,
	td.actions input.button:hover, form.shipping_calculator button.button:hover,
	body.woocommerce-page input.button:hover, body.woocommerce #content input.button.alt:hover,
	body.woocommerce #respond input#submit.alt:hover, body.woocommerce a.button.alt:hover,
	body.woocommerce button.button.alt:hover, body.woocommerce input.button.alt:hover,
	body.woocommerce-page #content input.button.alt:hover, body.woocommerce-page #respond input#submit.alt:hover,
	body.woocommerce-page a.button.alt:hover, body.woocommerce-page button.button.alt:hover,
	body.woocommerce-page input.button.alt:hover {
	background-color: #0093bf;
}

select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
	input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus,
	input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
	input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus,
	input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
	.form-control:focus {
	outline-color: #0093bf;
}

body {
	color: #424242;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
	.article-archive .article__title a, .article-archive .article__title a:hover
	{
	color: #1a1919;
}

body {
	background-color: #eeeeee;
}

.container {
	background-color: #ffffff;
}

.header {
	background-color: #ffffff;
}

@media screen and (min-width: 900px) {
	.navigation--main {
		background-color: #ffffff;
	}
}

.navigation a {
	font-size: 14px;
}

.navigation a {
	letter-spacing: px;
}

.navigation a {
	text-transform: uppercase;
}

.nav--main>.menu-item>a {
	text-decoration: none;
}

body {
	font-size: 16px;
}

body {
	line-height: 1.6;
}

.container, .search__container, .site-header__container, .header--sticky .site-header__container
	{
	max-width: 1370px;
}

@media screen and (min-width: 900px) {
	.container {
		padding-left: 96px;
	}
}

@media screen and (min-width: 900px) {
	.container {
		padding-right: 96px;
	}
}

@media only screen and (min-width: 900px) {
	.sidebar--main {
		width: 300px;
	}
}

@media only screen and (min-width: 900px) {
	.page-content.has-sidebar:after {
		right: 300px;
	}
}

@media only screen and (min-width: 900px) {
	.page-content.has-sidebar .page-content__wrapper {
		margin-right: 300px;
	}
	.page-content.has-sidebar {
		margin-right: -300px;
	}
}

.site-title--image img {
	max-height: 90px;
}

@media screen and (min-width: 900px) {
	.header {
		padding-top: 36px;
	}
}

@media screen and (min-width: 900px) {
	.header {
		padding-bottom: 36px;
	}
}

@media screen and (min-width: 900px) {
	.nav--main>.menu-item>a {
		padding-left: 24px;
	}
}

@media screen and (min-width: 900px) {
	.nav--main>.menu-item>a {
		padding-right: 24px;
	}
}

@media screen and (min-width: 900px) {
	.nav--main>.menu-item>a {
		margin-left: 24px;
	}
}

@media screen and (min-width: 900px) {
	.nav--main>.menu-item>a {
		margin-right: 24px;
	}
}

@media screen and (min-width: 900px) {
	.nav--main>.menu-item>a {
		padding-top: 21px;
	}
}

@media screen and (min-width: 900px) {
	.nav--main>.menu-item>a {
		padding-bottom: 21px;
	}
}

@media screen and (min-width: 900px) {
	.nav--main>.menu-item>a {
		margin-top: 21px;
	}
}

@media screen and (min-width: 900px) {
	.nav--main>.menu-item>a {
		margin-bottom: 21px;
	}
}

@media only screen and (min-width: 900px) {
	.nav--main li:hover, .nav--main li.current-menu-item {
		border-bottom-color: #0093bf;
	}
	.back-to-top a:hover:after, .back-to-top a:hover:before {
		border-color: #0093bf;
	}
}

@media only screen and (min-width: 1201px) {
	.team-member__profile {
		background: rgba(0, 147, 191, 0.5);
	}
}

body {
	color: #424242;
}

h1, h2, h3, h4, h5, h6 {
	color: #1a1919;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #1a1919;
}

/* Select classes here */
h1, h2, h3, h4, h5, h6, hgroup, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
	blockquote, .tabs__nav, .popular-posts__time, .pagination li a,
	.pagination li span {
	font-family: Open Sans;
}

/* Select classes here */
.navigation a {
	font-family: Open Sans;
}

/* Select classes here */
html, .wp-caption-text, .small-link, .post-nav-link__label,
	.author__social-link, .comment__links, .score__desc {
	font-family: Open Sans;
}

.container {
	max-width: 1370px;
}

.search__container {
	max-width: 1370px;
}

@media only screen and (min-width: 900px) {
	.sidebar--main {
		width: 325px;
	}
	.page-content.has-sidebar {
		margin-right: -325px;
	}
	.page-content.has-sidebar .page-content__wrapper {
		margin-right: 325px;
	}
	.page-content.has-sidebar:after {
		right: 325px;
	}
}

@media screen and (min-width: 481px) and (max-width: 899px) {
	.mosaic__item {
		width: 100%;
	}
}

@media screen and (min-width: 900px) and (max-width: 1249px) {
	.mosaic__item {
		width: 50%;
	}
}

@media screen and (min-width: 1250px) {
	.mosaic__item {
		width: 50%;
	}
}

img.wp-smiley, img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
.animate i:after {
	-webkit-transition: all 1000ms;
	-moz-transition: all 1000ms;
	-o-transition: all 1000ms;
	transition: all 1000ms;
}